exportPattern("^[[:alpha:]]+")
import("Biostrings")
import("devtools")
import("tidyverse")
import("seqinr", except=c(dotPlot, translate))
import("splitstackshape")
import("entropy")
import("party")
import("e1071")
import("caret")
import("randomForest")
import("gbm")
import("stats", except=c(start, end))
import("stringr")
import("ftrCOOL")
import("RCurl")
importFrom("dplyr", tibble)
